<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', :object => @user %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :username %>
        <%= f.text_field :username, :placeholder => "Alphanumeric characters only!"%>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
    <%= f.submit %>

  </fieldset>
<% end %>