<article id="user">
  <header class"user">
    <h1><%= @user.name %></h1>
    <h2><%= mail_to @user.email %></h2>
  </header>

  <h3>Username</h3>
  <p>
    <%= @user.username %>
  </p>

  <h3>Member since</h3>
  <p>
    <%= @user.created_at.strftime("%B %Y") %>
  </p>

  <footer>
    <%= link_to "Edit Account", edit_user_path(@user), :class => 'button' %>
    <%= link_to "Delete Account", user_path(@user), :method => :delete, :class => 'button' %>
  </footer>
</article>